@tailwind base;
@tailwind components;
@tailwind utilities;


/* Targeting WebKit browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f2f2f; /* Color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #737373; /* Color of the scrollbar handle when hovered */
  }
  